body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid #883636;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    }

a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: "";
    display: inline-block;
    background-color: rgb(151, 151, 151);
    width: 8px;
    height: 8px;
    margin-right: 3px ;
}
