.card-project{
    display: inline-flex;
    background-color:  rgb(151, 151, 151);
    width: 280px;
    height: 280px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #3D314A;
    
}
.card-project.-blue{

}
