h1.logo {
        font-family: 'Fira Code', Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 1px 2px 3px;
        border-bottom: 3px solid #883636;
        
    } 