.main-action{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.main-action::before{
    content: "";
    background-color: rgb(151, 151, 151);
    width: 8px;
    height: 8px;
    margin-right: 8px 