.main-header
    {background-color: rgb(0, 0, 0);
    border-bottom: 3px solid #883636;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    display: flex ;
    justify-content: space-between;
    }
