.main-subtitle{
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #3D314A;
    text-shadow: 2px 1px 1px rgb(151, 151, 151);
    padding: 0px;
    margin: 0px;
  
}