.main-section{
    background-color: #A4BAB7;
    padding-top: 20px;
    padding-bottom: 100px;
    border-bottom: 3px solid #883636;
}

.main-section .main-title {
    margin-bottom: 40px;
}

.main-section.-bgBlack {
    background-color: black;
}