.main-banner{
    background-image: url(../../assets/img/foto.JPG);
    box-sizing: border-box;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 120%;
    border-bottom: 3px solid #883636;
    padding-top: 80px;
    padding-left: 80px;
  }

  .main-banner .warpper{
    display: flex;
    flex-direction: column;
    width: 600px;
   } 

  .main-banner .main-box{
      margin-bottom: 30px;   
  }
  .main-banner .navigation{
      display: flex;
      justify-content:space-around;
      
  }