.progress-bar::-moz-progress-bar {
    border: 4px solid black;
    background-color: white;
    height: 27px;
}

.progress-bar::-webkit-progress-bar, 
.progress-bar::-moz-progress-bar{
    background-color: #883636;
    box-sizing: border-box;
}