.skill-tec {
    display: flex;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
}
.skill-tec .icon{
    margin-right: 25px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;
}
