
h1.title{
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #001216;
    text-shadow: 4px 1px 2px rgb(151, 151, 151);
    padding: 0px;
    margin: 0px;
    border: none;
    }